
#headline{
    text-decoration: underline;
}

#headline1{
    text-decoration: underline;
}

#headline2{    
    text-decoration: underline;
}

#infofat{
    font-weight: bold;
}

body{
    background: #7045af;
    text-align: center;
    color:#ffffff;
}

a{
    color: aqua;
}

