#headline{
    text-align: center;
    text-decoration: underline;
}

#headline1{
    text-align: center;
    text-decoration: underline;
}

#headline2{
    text-align: center;
    text-decoration: underline;
}

#infofat{
    text-align: center;
    font-weight: bold;
}

#info{
    text-align: center;
}

